/* src/App.css */
.App {
  text-align: center;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-item {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
}

.user-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.user-item p {
  font-size: 1em;
  margin: 5px 0;
}
