* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    color: #FDFDFD;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-template-columns: 20vw auto auto;
    grid-template-rows: 50px calc(100vh - 100px - 10px) 50px;
}

.site-header {
    align-items: center;
    background-color: #2F4F4F; /* Cor de fundo esmeralda escura */
    display: grid;
    grid-area: header;
    padding: 10px;
}

.site-aside {
    background-color: #20B2AA; /* Cor de fundo esmeralda média */
    grid-area: aside;
    padding: 10px;
}

.site-main {
    background-color: #66CDAA; /* Cor de fundo esmeralda clara */
    grid-area: main;
    padding: 10px;
}

.site-footer {
    align-items: center;
    background-color: #008080; /* Outra cor de fundo esmeralda escura */
    display: grid;
    grid-area: footer;
    justify-content: center;
    padding: 10px;
}
